{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PledgePool - Projects</title>

    {% tailwind_css %}

    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Alumni+Sans+Pinstripe:ital@0;1&family=Amatic+SC:wght@400;700&family=Lovers+Quarrel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" />
  </head>

  <body>
    {% include 'components/header_two.html' %}

    <section class="text-gray-600 raleway">
      <span class="mx-10 text-4xl text-[#DC5F00]">My Projects</span>
      <div class="flex flex-wrap justify-start items-center gap-10 mx-10">
        {% if projects %}
          {% for project in projects %}
            {% include 'components/project_two.html' with image_loc=project.campaign_cover.url title=project description=project.description achieved_amount=project.achieved_funding total_amount=project.funding_goal remaining_amount=project.remaining_amount progress=project.campaign_progress days_left=project.days_left no_of_pledges=project.total_pledges %}
          {% endfor %}
        {% else %}
          <div class="w-full h-[70vh] flex flex-col justify-center items-center gap-4 my-4">
            <span class="text-xl">You haven't created any projects yet</span>
            <a href="../projects/create" class="w-fit relative inline-block px-4 lg:px-8 py-2 lg:py-4 text-white cursor-pointer overflow-hidden border-2 border-solid border-[#DC5F00] bg-[#DC5F00] transition-colors duration-500 z-[1] rounded-lg raleway text-xl before:content-[''] before:absolute before:top-full before:left-full before:z-[-1] before:bg-white before:h-[18.75rem] before:w-[25rem] before:rounded-[50%] before:transition-all before:duration-700 hover:text-[#DC5F00] hover:before:top-[-3.75rem] hover:before:left-[-3.75rem] active:before:bg-white active:before:transition-all active:before:duration-0">Create campaign</a>
          </div>
        {% endif %}
      </div>
    </section>
  </body>
</html>
