<header class="w-full h-[15vh] relative flex justify-between">
    <div class="w-auto h-full text-center flex items-center justify-start ml-6">
        <a class="cursor-pointer alumni-sans-pinstripe-regular text-5xl lg:text-6xl tracking-[-0.06em] text-[#373A40]" href="/">PledgePool</a>
    </div>

    <div class="w-auto h-full hidden lg:flex flex-row justify-around items-center raleway uppercase tracking-[0.15em] text-[#373A40] text-lg">
        <a href="/" class="relative inline-block px-[1rem] py-[0.8rem] after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:w-0 after:h-[2px] after:bg-[#373A40] after:opacity-75 after:transition-all after:duration-200 after:ease-linear hover:after:w-full hover:after:left-0" href="#">
            Home
        </a>
        
        <a class="relative inline-block px-[1rem] py-[0.8rem] after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:w-0 after:h-[0.1em] after:bg-[#373A40] after:opacity-75 after:transition-all after:duration-200 after:ease-linear hover:after:w-full hover:after:left-0" href="#">
            Services
        </a>

        <a href="../projects/view" class="relative inline-block px-[1rem] py-[0.8rem] after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:w-0 after:h-[0.1em] after:bg-[#373A40] after:opacity-75 after:transition-all after:duration-200 after:ease-linear hover:after:w-full hover:after:left-0" href="#">
            Projects
        </a>
        
        <div class="relative inline-block group">
            <a class="relative inline-block px-[1rem] py-[0.8rem]" href="#">
                Join Us
            </a>
        
            <div class="w-[16rem] absolute top-[3rem] left-2 opacity-0 invisible group-hover:visible group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out transform translate-y-4 border-2 border-gray-400 border-solid rounded-lg overflow-hidden bg-white z-50">
                <a class="w-full h-auto block px-[1rem] py-[0.6rem] text-gray-600 capitalize hover:text-[#DC5F00]" href="../joinus/whybacker">
                    Become a Backer
                </a>
                <a class="w-full h-auto block px-[1rem] py-[0.6rem] text-gray-600 capitalize hover:text-[#DC5F00]" href="../joinus/whycreator">
                    Become a Creator
                </a>
            </div>
        </div>

        <a class="relative inline-block px-[1rem] py-[0.8rem] after:content-[''] after:absolute after:bottom-0 after:left-1/2 after:w-0 after:h-[0.1em] after:bg-[#373A40] after:opacity-75 after:transition-all after:duration-200 after:ease-linear hover:after:w-full hover:after:left-0" href="#">
            About Us
        </a>
    </div>

    <div class="lg:hidden w-auto h-full flex flex-col justify-center items-end uppercase tracking-widest text-base transition-colors duration-500">
        <div class="flex z-[100] mr-6">
            <label class="relative w-10 h-6 cursor-pointer block bg-transparent">
                <input type="checkbox" id="menuCheckBox" class="hidden peer" />
                <span class="menuSpan block absolute w-full h-0.5 rounded-[9px] opacity-100 left-0 transition-all transform-[rotate(0deg)] duration-200 ease-in-out top-[0px] origin-[left_center] peer-checked:rotate-45 peer-checked:top-0 peer-checked:left-1 bg-black"></span>
                <span class="menuSpan block absolute w-full h-0.5 rounded-[9px] opacity-100 left-0 transition-all transform-[rotate(0deg)] duration-200 ease-in-out top-[50%] origin-[left_center] peer-checked:opacity-0 peer-checked:w-0 bg-black"></span>
                <span class="menuSpan block absolute w-full h-0.5 rounded-[9px] opacity-100 left-0 transition-all transform-[rotate(0deg)] duration-200 ease-in-out top-[100%] origin-[left_center] peer-checked:rotate-[-45deg] peer-checked:top-[28px] peer-checked:left-1 bg-black"></span>
            </label>
        </div>

        <div id="menu" class="mr-[-65%] w-[65%] h-[100vh] absolute top-0 pt-[7rem] px-6  bg-primary text-primaryBG flex flex-col justify-start items-end font-raleway uppercase tracking-widest text-base transition-[margin] ease-linear duration-500 bg-black text-white z-50">
            <a href="/" class="mobileMenuItem relative px-[0.25rem] py-[0.5rem] opacity-100 text-ternary duration-200 cursor-pointer" >Home</a>
            <a href="/" class="mobileMenuItem relative px-[0.25rem] py-[0.5rem] opacity-100 text-ternary duration-200 cursor-pointer" >Services</a>
            <a href="../projects/view" class="mobileMenuItem relative px-[0.25rem] py-[0.5rem] opacity-100 text-ternary duration-200 cursor-pointer" >Projects</a>
            <a href="/" class="mobileMenuItem relative px-[0.25rem] py-[0.5rem] opacity-100 text-ternary duration-200 cursor-pointer" >Join Us</a>
            <a href="/" class="mobileMenuItem relative px-[0.25rem] py-[0.5rem] opacity-100 text-ternary duration-200 cursor-pointer" >About Us</a>
        </div>
    </div>

    <div class="w-auto h-full hidden lg:flex flex-row justify-center mr-6 items-center raleway uppercase tracking-widest text-base">
        <a href="../accounts/login" class="relative flex items-center gap-1 px-9 py-3 border-4 border-solid border-transparent text-[1rem] bg-inherit rounded-[6.25rem] font-semibold text-[#373A40] shadow-[0_0_0_0.09rem_#373A40] cursor-pointer overflow-hidden transition-[all_0.6s_cubic-bezier(0.23,_1,_0.32,_1)] hover:text-white hover:shadow-[0_0_0_0.75rem_transparent] hover:rounded-[0.75rem] active:scale-[0.95] active:shadow-[0_0_0_0.25rem_#373A40] group">

            <svg viewBox="0 0 24 24" class="absolute w-[1.5rem] fill-[#373A40] z-50 transition-[all_0.8s_cubic-bezier(0.23,_1,_0.32,_1)] left-[-25%] group-hover:fill-white group-hover:left-[1rem]" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z" stroke="#373A40" stroke-width="1"></path>
            </svg>

            <span class="relative z-[1] translate-x-[-0.75rem] transition-[all_0.8s_cubic-bezier(0.23,_1,_0.32,_1)] group-hover:fill-[#373A40] group-hover:translate-x-[0.75rem] raleway uppercase text-xl">Login</span>

            <span class="w-[1.5rem] h-[1.5rem] absolute top-[50%] left-[50%] transform translate-x-[-50%] translate-y-[-50%] bg-[#373A40] rounded-[50%] opacity-0 transition-[all_0.8s_cubic-bezier(0.23,_1,_0.32,_1)] group-hover:w-[13.75rem] group-hover:h-[13.75rem] group-hover:opacity-100"></span>

            <svg viewBox="0 0 24 24" class="absolute w-[1.5rem] fill-[#373A40] z-50 transition-[all_0.8s_cubic-bezier(0.23,_1,_0.32,_1)] right-[1rem] group-hover:right-[-25%]" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                    stroke="white" stroke-width="1"></path>
            </svg>  
        </a>
    </div>
</header>

<script>
    const checkbox = document.getElementById("menuCheckBox");
    const targetDiv = document.getElementById("menu");
    const menuSpans = document.getElementsByClassName('menuSpan');

    checkbox.addEventListener("change", function() {
        if (this.checked) {
            targetDiv.classList.remove("mr-[-65%]");
            for (let i = 0; i < menuSpans.length; i++) {
                menuSpans[i].classList.remove("bg-black");
                menuSpans[i].classList.add("bg-white");
            }
        } else {
            targetDiv.classList.add("mr-[-65%]");
            for (let i = 0; i < menuSpans.length; i++) {
                menuSpans[i].classList.remove("bg-white");
                menuSpans[i].classList.add("bg-black");
            }
        }
    });
</script>