{% load static %}

<a href="{% url 'projectdetails' project.id %}" class="w-[25rem] min-w-[25rem] flex flex-col my-6 rounded-md raleway box-border overflow-hidden border-[1px] border-gray-400">
    <img class="w-auto h-[12rem] object-cover object-[50%_50%]" src="{{ image_loc }}">
    <div class="w-full h-full justify-around flex flex-col gap-3 px-4 py-3">
        <div class="w-full h-auto">
            <div class="text-left font-bold mt-3 text-xl">{{ title }}</div>
            <div class="text-left mt-2">{{ description }}</div>
        </div>

        <div class="w-full ha-auto flex flex-col gap-3 p-3 rounded-lg bg-[#f9d6bb]">
            <div class="w-full h-auto flex justify-between items-center">
                <div class="flex flex-col">
                    <span class="text-xl font-bold">{{ total_amount }}</span>
                    <span>Goal</span>
                </div>
                <div class="flex flex-col">
                    <span class="text-xl font-bold">{{ no_of_pledges }}</span>
                    <span>Invested</span>
                </div>
                <div class="flex flex-col">
                    <span class="text-xl font-bold">{{ days_left }}</span>
                    <span>Days Left</span>
                </div>
            </div>
            <div class="w-full mx-auto bg-white rounded-full h-2">
                <div class="bg-[#DC5F00] h-2 rounded-full" style="width: {{ progress }};"></div>
            </div>
            <div class="flex justify-between">
                <div>Collected: <span class="text-xl font-bold">{{ achieved_amount }}</span></div>
                <div>Need: <span class="text-xl font-bold">{{ remaining_amount }}</span></div>
            </div>
        </div>  
        
        {% comment %} <div class="w-full h-auto flex justify-end items-center gap-2">
            <div class="w-fit relative inline-block px-4 py-2 text-white cursor-pointer overflow-hidden border-2 border-solid border-red-800 bg-red-800 transition-colors duration-500 z-[1] rounded-lg raleway text-lg before:content-[''] before:absolute before:top-full before:left-full before:z-[-1] before:bg-white before:h-[18.75rem] before:w-[25rem] before:rounded-[50%] before:transition-all before:duration-700 hover:text-red-800 hover:before:top-[-3.75rem] hover:before:left-[-3.75rem] active:before:bg-white active:before:transition-all active:before:duration-0">Delete</div>

            <div class="w-fit relative inline-block px-4 py-2 text-white cursor-pointer overflow-hidden border-2 border-solid border-[#DC5F00] bg-[#DC5F00] transition-colors duration-500 z-[1] rounded-lg raleway text-lg before:content-[''] before:absolute before:top-full before:left-full before:z-[-1] before:bg-white before:h-[18.75rem] before:w-[25rem] before:rounded-[50%] before:transition-all before:duration-700 hover:text-[#DC5F00] hover:before:top-[-3.75rem] hover:before:left-[-3.75rem] active:before:bg-white active:before:transition-all active:before:duration-0">Edit</div> {% endcomment %}
    </div>
</a>